<div class="header">
  <div class="container">
    <ul class="left">
      <li>
        <select name="" id="">
          <option value="english">English</option>
          <option value="french">French</option>
        </select>
      </li>
      <li>
        <select name="" id="">
          <option value="$">$ USD</option>
          <option value="r">&#8377; INR</option>
        </select>
      </li>
    </ul>
    <ul class="right">
      <li>Find a Store</li>
      <li>Contact Us</li>
      <li>Help</li>
    </ul>
  </div>
</div>

<div class="header-two">
  <div class="container">
    <div class="left">
      <img
        src="https://spartacus-training.eastus.cloudapp.azure.com:8443//medias/SAP-scrn-R.png?context=bWFzdGVyfGltYWdlc3wxMDEyN3xpbWFnZS9wbmd8aW1hZ2VzL2hkNy9oZDYvODc5NzQ1NjIzNjU3NC5wbmd8MTBmMDY2MjVlYTgxNmRiOWUwODE2NTcxNjU2MWFiOGM3OTJjNWJhNjFlOGY5Y2UzYmZlOTkyOTU2NmZkN2M2OA"
        alt=""
        width="80"
        height="40"
      />
    </div>
    <div>
      <ng-container brComponent="header"></ng-container>
    </div>
    <ul class="right signin">
      <li>Sign In / Rigister</li>
    </ul>
  </div>
</div>

<div class="header-three">
  <div class="container">
    <ul class="left">
      <li>
        <select name="" id="">
          <option value="">Brands</option>
        </select>
      </li>
      <li>
        <select name="" id="">
          <option value="">Digital Cameras</option>
        </select>
      </li>
      <li>Film cameras</li>
      <li>Webcams</li>
      <li>Accessories</li>
    </ul>
  </div>
</div>
