<div class="footer">
  <div class="container">
    <div class="left">
      <p>SAP COMMERCE CLOUD</p>
      <ul>
        <li>About SAP Commerce Cloud</li>
        <li>Frequently Asked Questions</li>
      </ul>
    </div>
    <div class="center">
      <p>SAP CUSTOMER EXPERIENCE</p>
      <ul>
        <li>Visit SAP</li>
        <li>Contact US</li>
      </ul>
    </div>
    <div class="right">
      <p>FOLLOW US</p>
      <ul>
        <li>Agile Commerce Blog</li>
        <li>LinkedIn</li>
        <li>Facebook</li>
        <li>Twitter</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-two">
  <p>
    Copyright © 2020 SAP SE or an SAP affiliate company. All rights reserved.
  </p>
</div>
